*,
*:before,
*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

body{
    font-weight: 400;
    font-size: 1.8rem;
    font-family: 'Rubik', sans-serif;
    // overflow-x: hidden;
}

h2{
    font-weight: 500;
    transition: .5s all ease;

    // @media only screen and (min-width: $bp-large) {
    //     font-size: 3.8rem;
    // }

    // @media only screen and (min-width: $bp-large) {
    //     font-size: 5rem;
    // }
}

h3{
    line-height: 0;
}

h5{
    font-weight: 400;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

p{
    color: hsl(229, 8%, 60%);
    //font-size: 1.5rem;
    margin-top: 2rem;
    // line-height: 1.6;
    transition: all .2s ease-out;


    @media only screen and (min-width: $bp-small) {
        //font-size: 1.5rem;
        max-width: 44rem;
    }
}

button{
    outline: none;
}
.container{

    @media only screen and (min-width: $bp-land) {
        
        margin:  6rem 2rem;
    }
    @media only screen and (min-width: $bp-large) {
        
        margin: 6rem 10rem;
    }
}