.download{
    margin: 7rem;
    margin-bottom: 12rem;

    @media only screen and (min-width: $bp-small) {
        margin-top: 0rem;
    }

    @media only screen and (min-width: $bp-large) {
        margin-top: 14rem;
    }


    &__grid{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5rem;


        @media only screen and (min-width: $bp-large) {
            flex-direction: row;
            margin: 8rem 0;
        }

        @media only screen and (min-width: $bp-land) {
            flex-direction: row;
            margin: 0rem;
        }

    }
    &__p{
            
        @media only screen and (min-width: $bp-small) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__head{
        text-align: center;

        @media only screen and (min-width: $bp-land) {
            margin-bottom: 4rem;
        }

        @media only screen and (min-width: $bp-large) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        @media only screen and (min-width: $bp-huge) {
            margin-bottom: 5rem;
        }
    }
    &__card{
        margin-top: 3rem;
        width: 28rem;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        border-radius: 1.4rem;
        box-shadow: 0 .5rem 1.4rem rgb(230, 230, 230);
        overflow-x: hidden;

        @media only screen and (min-width: $bp-land) {
            margin-right: 4rem;;
            min-width: 24rem;
            //margin-right: 2rem;
            overflow-x: hidden;
        }

        &:last-child{

            @media only screen and (min-width: $bp-land) {
            margin-right: 0;
            }
        }

        &--dots{
            margin-top: 4rem;
        }

        &--img{
            margin-bottom: 4rem;
            margin-top: 4rem;

            @media only screen and (min-width: $bp-land) {
                max-width: 24rem;
                margin-top: 1rem;
            }
        }


        &--btn{
            border: none;
            margin-top: 3rem;
            padding: 1.6rem 3.5rem;
            border-radius: .5rem;
            background-color: hsl(231, 69%, 60%);
            border: .2rem solid #5267df;

            margin-right: .9rem;
            font-weight: 500;
            font-size: 1.4rem;
            font-family: 'Rubik', sans-serif;
            box-shadow: 0 .3rem .8rem rgb(182, 182, 182);
            color: #fff;
            cursor: pointer;

            @media only screen and (min-width: $bp-land) {
                margin: 1rem;
                margin-top: 1.5rem;;
                padding: 1.6rem 1rem;
                margin-bottom: 0rem;
                font-size: 1.2rem;
            }

            &:hover,
            &:active{
                background-color: #fff;
                border-radius: .5rem;
                color: #5267df;
        }
    }


        &--1{
            @media only screen and (min-width: $bp-land) {
                transform: translateY(-5rem);
            }
        }

        &--3{

            @media only screen and (min-width: $bp-land) {
                transform: translateY(5rem);
            }
        }
    }

    
}