.faq{
    margin: 3rem;
    &__head{
        text-align: center;
        margin-bottom: 6rem;

        @media only screen and (min-width: $bp-small) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    

    &__arrow{
        transform: rotate(180deg);

        svg path{
            stroke: #ff6161;
        }
        
    }

    &__ques{
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media only screen and (min-width: $bp-land) {
            justify-content: center;
            width: 40%;
            margin-left: 30%;
        }

        &--ans{
            display: flex;
            flex-direction: column;
            
        }

        &--para{
            display: none;
            visibility: hidden;
            opacity: 0;
        }

        &--open{
            display: inline;
            visibility: visible;
            opacity: 1;
        }

        &--sec{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2rem 0;
            border-bottom: 1px solid rgb(214, 214, 214);
            cursor: pointer;

            &:hover{
                color: #ff6161;
            }
        }

        &--btn{
            border: none;
            margin-top: 3rem;
            padding: 1.6rem 3rem;
            border-radius: .5rem;
            background-color: hsl(231, 69%, 60%);
            margin-right: .9rem;
            font-weight: 500;
            font-family: 'Rubik', sans-serif;
            box-shadow: 0 .3rem .8rem rgb(182, 182, 182);
            color: #fff;
            align-self: center;
            cursor: pointer;

            &:hover,
            &:active{
                background-color: #fff;
                border: .2rem solid #5267df;
                border-radius: .5rem;
                color: #5267df;
        }
        }
    }

    &__p{
        @media only screen and (min-width: $bp-large) {
            padding: 0 20rem;
        }
    }

}