.features{
    margin: 12rem 3rem;
    text-align: center;

    @media only screen and (min-width: $bp-large) {
        text-align: start;
    }

    @media only screen and (min-width: $bp-large) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    @media only screen and (min-width: $bp-tab) {
        margin-top: 0;
    }

    &__p{
            
        @media only screen and (min-width: $bp-small) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    
    &__box{
        margin-bottom: 4rem;

        @media only screen and (min-width: $bp-small) {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

    }
    
    &__type{
        list-style: none;
        @media only screen and (min-width: $bp-large) {
            display: flex;
            justify-content: center;
            width: 80%;
            margin-left: 10%;
            text-align: center;
        }

        @media only screen and (min-width: $bp-tab) {
            display: flex;
        }
    }
    &__button{
        border: none;
        background-color: transparent;
        width: 100%;
        padding: 1.6rem 5rem;
        border-bottom: .1rem solid rgb(201, 201, 201);
        font-size: 1.8rem;
        position: relative;
        cursor: pointer;
        outline: none;

        @media only screen and (min-width: $bp-large) {
            border-top: none;
            font-size: 1.4rem;
            padding: 1.8rem 5rem;
        }

        @media only screen and (min-width: $bp-tab) {
            font-size: 1.4rem;
        }

        &:hover{
            color: #ff6161;
        }

        &:first-of-type{
            border-top: .1rem solid rgb(201, 201, 201);

            @media only screen and (min-width: $bp-tab) {
                border-top: none;
            }


        }
    }

    &__grid{
        display: grid;
        grid-template-rows: 35rem max-content;

        @media only screen and (min-width: $bp-large) {
            grid-template-columns: repeat(2,1fr);
            align-items: center;
            margin: 2rem 0;
            grid-gap: 5rem;
        }

        @media only screen and (min-width: $bp-small) {
            grid-gap: 6rem;
        }

        @media only screen and (min-width: $bp-tab) {
            grid-template-columns: repeat(2,1fr);
            grid-gap: 0;

        }
    }

    &__illustration{
        position: relative;
        margin-bottom: 10rem;

        &--bg{
            display: block;
            background: hsl(231, 69%, 60%);
            height: 20rem;
            width: 30rem;
            border-top-right-radius: 15rem;
            border-bottom-right-radius: 15rem;
            position: absolute;
            left: -4.4rem;
            top:  10rem;
            z-index: 1;
            transition: .5s ease;

            
            
            @media only screen and (min-width: $bp-small) {
                height: 30rem;
                width: 44rem;
                top: 8rem;
            }
            
            @media only screen and (min-width: $bp-tab) {
                width: 35rem;
                height: 20rem;
                
            }
            @media only screen and (min-width: $bp-large) {
                width: 50rem;
                height: 30rem;
                top: -2rem;
                left: -14rem;
            }

            @media only screen and (min-width: $bp-huge) {
                width: 58rem;
                height: 34rem;  
            }
        }

        &--img{
            width: 28rem;
            height: 20rem;
            margin: 0;
            margin-top: 0rem;
            position: absolute;
            top: 6rem;
            left: 1.2rem;
            z-index: 10;
            transition: .5s all ease;

            
            @media only screen and (min-width: $bp-small) {
                width: 40rem;
                height: auto;
                top: 4rem;
                left: 5rem;
            }
            
            @media only screen and (min-width: $bp-tab) {
                width: 30rem;
                
            }

            @media only screen and (min-width: $bp-large) {
                width: 40rem;
                height: auto;
                top: -6rem;
                left: 4rem;
            }

            @media only screen and (min-width: $bp-huge) {
                width: 50rem;
                top: -10rem;  
            }
        }
    }

    &__bookmark{

        @media only screen and (min-width: $bp-tab) {
            align-self: center;
            text-align: start;
        }
    }

    &__red{
        display: flex;
        justify-content: center;
        background-color: red;
        height: .4rem;
        width: 40%;
        position: absolute;
        top: 5.1rem;
        left: 30%;

        @media only screen and (min-width: $bp-tab) {
            top: 4.5rem;
        }

        @media only screen and (min-width: $bp-land) {
            width: 100%;
            left: 0;
            top: 4.6rem;
        }


        @media only screen and (min-width: $bp-large) {
            top: 5rem;
        }
    }

}