.features{
    margin: 5rem 3rem;
    text-align: center;

    @media only screen and (min-width: $bp-small) {
        margin: 0 3rem;
    }

    
    @media only screen and (min-width: $bp-tab) {
        margin: 7rem 3rem;
    }
    @media only screen and (min-width: $bp-large) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: start;
        
    }

    @media only screen and (min-width: $bp-huge) {
        margin-top: 20rem;
        margin-bottom: 20rem;
        
    }

    &__p{
            
        @media only screen and (min-width: $bp-small) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    
    &__box{
        margin-bottom: 4rem;

        @media only screen and (min-width: $bp-small) {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

    }
    
    &__type{
        list-style: none;
        @media only screen and (min-width: $bp-large) {
            display: flex;
            justify-content: center;
            width: 80%;
            margin-left: 10%;
            text-align: center;
        }

        @media only screen and (min-width: $bp-small) {
            display: flex;
        }
    }
    &__button{
        border: none;
        background-color: transparent;
        width: 100%;
        padding: 1.6rem 5rem;
        border-bottom: .1rem solid rgb(201, 201, 201);
        position: relative;
        cursor: pointer;
        outline: none;

        @media only screen and (min-width: $bp-small) {
            font-size: 1rem;
            padding: 1.6rem 4rem;
            
        }
        @media only screen and (min-width: $bp-tab) {
            font-size: 1.4rem;
        }
        @media only screen and (min-width: $bp-large) {
            border-top: none;
            font-size: 1.4rem;
            padding: 1.8rem 5rem;
        }

        @media only screen and (min-width: $bp-huge) {
            font-size: 1.8rem;
        }


        &:hover{
            color: #ff6161;
        }

        &:first-of-type{
            border-top: .1rem solid rgb(201, 201, 201);

            @media only screen and (min-width: $bp-small) {
                border-top: none;
            }


        }
    }

    &__grid{
        display: grid;
        grid-template-rows: 35rem max-content;

        
        @media only screen and (min-width: $bp-small) {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 6rem;
            height: 32rem;
        }
        
        @media only screen and (min-width: $bp-tab) {
            grid-template-columns: repeat(2,1fr);
            grid-gap: 0;
            
        }
        
        @media only screen and (min-width: $bp-land) {
            grid-gap: 3rem
        }
        @media only screen and (min-width: $bp-large) {
            grid-template-columns: repeat(2,1fr);
            align-items: center;
            margin: 2rem 0;
            grid-gap: 5rem;
        }
    }

    &__illustration{
        position: relative;
        margin-bottom: 10rem;

        &--bg{
            display: block;
            background: hsl(231, 69%, 60%);
            height: 20rem;
            width: 30rem;
            border-top-right-radius: 15rem;
            border-bottom-right-radius: 15rem;
            position: absolute;
            left: -4.4rem;
            top:  10rem;
            z-index: 1;
            transition: .5s ease;

            
            
            @media only screen and (min-width: $bp-small) {
                height: 18rem;
                width: 30rem;
                top: 8rem;
            }
            
            @media only screen and (min-width: $bp-tab) {
                width: 34rem;
                height: 22rem;
                left: -5rem;
                
            }
            @media only screen and (min-width: $bp-land) {
                width: 40rem;
                height: 25rem;
                left: -5rem;
                
            }
            @media only screen and (min-width: $bp-large) {
                width: 50rem;
                height: 30rem;
                top: -2rem;
                left: -14rem;
            }

            @media only screen and (min-width: $bp-huge) {
                width: 58rem;
                height: 34rem;  
            }
        }

        &--img{
            width: 28rem;
            margin: 0;
            margin-top: 0rem;
            position: absolute;
            top: 4rem;
            left: 4rem;
            z-index: 10;
            transition: .5s all ease;

            
            @media only screen and (min-width: $bp-small) {
                width: 26rem;
                height: auto;
                top: 4rem;
                left: 3rem;
            }
            
            @media only screen and (min-width: $bp-tab) {
                width: 28rem;
                
            }

            @media only screen and (min-width: $bp-land) {
                width: 32rem;
                left: 8rem;
                
            }
            @media only screen and (min-width: $bp-large) {
                width: 40rem;
                height: auto;
                top: -6rem;
                left: 4rem;
            }

            @media only screen and (min-width: $bp-huge) {
                width: 50rem;
                top: -10rem;  
            }
        }
    }

    &__info{
        
            border: none;
            margin-top: 3rem;
            padding: 1.2rem 3rem;
            border: .2rem solid #5267df;
            border-radius: .5rem;
            background-color: #5368df;
            margin-right: .9rem;
            font-weight: 500;
            font-family: 'Rubik', sans-serif;
            box-shadow: 0 0.3rem 0.8rem #b6b6b6;

            color: #fff;
            cursor: pointer;
            align-self: center;

            &:hover,
            &:active{
                background-color: #fff;
                color: #5267df;
            }

            @media only screen and (min-width: $bp-small) {
                align-self: flex-end;
                padding: 1rem 1.8rem;;
            }
        
        }
    

    &__bookmark{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        

        @media only screen and (min-width: $bp-small) {
            align-items: flex-end;
            text-align: end;
            justify-content: center;
        }

        @media only screen and (min-width: $bp-land) {
            align-items: flex-end;
            text-align: end;
        }
        


        @media only screen and (min-width: $bp-tab) {
            align-self: center;
            text-align: end;
            align-items: flex-end;
        }
    }

    &__red{
        display: flex;
        justify-content: center;
        background-color: red;
        height: .4rem;
        width: 40%;
        position: absolute;
        top: 5.1rem;
        left: 30%;
        transition: width .5s ease-out;
        
        @media only screen and (min-width: $bp-small) {
            top: 4rem;
        }

        @media only screen and (min-width: $bp-tab) {
            top: 4.5rem;
        }

        @media only screen and (min-width: $bp-land) {
            width: 100%;
            left: 0;
            top: 4.6rem;
        }


        @media only screen and (min-width: $bp-large) {
            top: 5rem;
        }

        @media only screen and (min-width: $bp-huge) {
            top: 5.4rem;
        }

    }

}