.footer{
    padding: 1.6rem 3rem;
    background-color: hsl(229, 31%, 21%);
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;


    &__flex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem 8rem;

        @media only screen and (min-width: $bp-large) {
            flex-direction: row;
            justify-content: start;
        }

        svg,
        h5,
        div{
            margin: 1.5rem;
        }
        
        svg path{
            fill: #fff;
        }

        &--social{
            display: grid;
            grid-template-columns: repeat(2,6rem);
            align-items: center;
            justify-items: center;
        }

        div{
            align-self: flex-end;
            margin-left: auto;
        }
    }

    p{
        color: #fff;
        font-size: 1.2rem;
    }

    a,
    a:link,
    a:visited{
        color: rgb(255, 142, 142);
        text-decoration: none;
    }
}