.footer{
    padding: 1.6rem 3rem;
    background-color: hsl(229, 31%, 21%);
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: $bp-land) {
        padding: 2rem 3rem;;
    }

    &__credit{
        text-align: center;
        font-size: 1.4rem;
        margin-top: 4rem;
    }


    &__flex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem 8rem;
        
        
        & a{
            margin-bottom: 2.5rem;
            
            
            @media only screen and (min-width: $bp-large) {
                margin-right: 5rem;
            }
            
            @media only screen and (min-width: $bp-tab) {
                margin-bottom: 0;
                
                
            }}
            
            @media only screen and (min-width: $bp-tab) {
                flex-direction: row;
                justify-content: start;
            }
            
            @media only screen and (min-width: $bp-tab) {
                flex-direction: row;
                justify-content: space-between;
                margin: 0;
                width: 100%;
            }
        svg,
        h5,
        div{
            margin: 1.5rem;

            @media only screen and (min-width: $bp-tab) {
                margin: 0;
            }
        }
        
        svg path{
            fill: #fff;
        }

        &--social{
            display: grid;
            grid-template-columns: repeat(2,6rem);
            align-items: center;
            justify-items: center;

            @media only screen and (min-width: $bp-tab) {
                margin-left: 0;
            }

            & a:hover{

                svg path{
                    fill: rgb(255, 142, 142);
                }
            }
        }

        div{
            @media only screen and (min-width: $bp-large) {
                align-self: flex-end;
                margin-left: auto;
            }
        }
    }


    
    a:link,
    a:visited{
        color: #fff;
        text-decoration: none;
    }

    a:hover{
        color: rgb(255, 142, 142);
    }

    &__credit a, &__credit a:link , &__credit a:visited {
        color: rgb(255, 142, 142);
    }

    
}