.header{
    margin: 3rem;

    a:hover{
        color: #ff6161;
    }

    &__logo{
        width: 14.5rem;
        height: auto;
    }

    &__nav{
        display: flex;
        justify-content: space-between;

        @media only screen and (min-width: $bp-large) {
            display: flex;
        }

        &--content{
            display: none;

            @media only screen and (min-width: $bp-large) {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 5rem;

                
            }
        }

        &--content a, &--content a:link, &--content a:visited{
            
            @media only screen and (min-width: $bp-large) {
                text-decoration: none;
                color: black;
                margin-right: 5rem;
                
                &:hover{
                    color: #ff6161;
                }
            }
        }
    }

    &__btn{
        padding: 1rem 4rem;
        border-radius: .6rem;
        border: none;
        background-color: rgb(255, 97, 97);
        width: 100%;
        color: #fff;
        font-size: 1.6rem;
        font-weight: 500;
        margin: 2rem 0 ;
        cursor: pointer;

        &:hover,
        &:active{
            background-color: #fff;
            border: .4rem solid #ff6161;
            border-radius: .6rem;
            color: #ff6161;
        }

    }

    &__menu{


        @media only screen and (min-width: $bp-large) {
            display: none;
        }
    }

        &__menu{
            display: inline-block;
            background-color: #000;
            width: 20px;
            height: 3px;
            position: relative;
            z-index: 200000;

            @media only screen and (min-width: $bp-large) {
                display: none;
            }

            &:before,
            &:after{
                display: block;
                content: '';
                position: absolute;
                background-color: #000;
                width: 20px;
                height: 3px;  
                transition: .5s;
            }
            
    
            &:before{
                top: -5.7px;
            }
    
            &:after{     
                top: 5.7px;
            }

        }

        &__icon.active .header__menu{
            background:rgba(0,0,0,0);
            
        }
        &__icon.active .header__menu:before{
            top: 0;
            transform:rotate(45deg);
            background-color: #fff;
        }
        &__icon.active .header__menu:after{
            top: 0;
            transform:rotate(135deg);
            background-color: #fff;
        }
    

    &__grid{
        margin: 0;
        display: grid;
        grid-template-rows: 38rem max-content;

        @media only screen and (min-width: $bp-large) {
            grid-template-columns: repeat(2,1fr);
            text-align: start;
            align-items: center;
            margin: 10rem 0;
        }

        &--1{
            position: relative;

            
        }
        
        &--bg{
                display: block;
                background: #5267df;
                height: 18rem;
                width: 30rem;
                border-top-left-radius: 15rem;
                border-bottom-left-radius: 15rem;
                position: absolute;
                top: 14rem;
                right: -3rem;
                z-index: 1;

                @media only screen and (min-width: $bp-large) {
                    top: -10rem;
                    right: -13rem;
                    width: 50rem;
                    height: 35rem;
                }
        }

        &--illustration{
            width: 33rem;
            margin: 0;
            margin-top: 8rem;
            position: absolute;
            right: -1rem;
            z-index: 10;
            
            @media only screen and (min-width: $bp-large) {
                width: 62rem;
                left: 10rem;
                top: -28rem;
            }
        }

        &--2{
            margin: 1.2rem;
            text-align: center;
            @media only screen and (min-width: $bp-large) {
                grid-row: 1/2;
                text-align: start;
            }
        }

        &--button{
            border: none;
            margin-top: 3rem;
            padding: 1.4rem;
            border-radius: .5rem;
            background-color: rgb(240, 240, 240);
            margin-right: .9rem;
            font-weight: 500;
            font-family: 'Rubik', sans-serif;
            box-shadow: 0 .3rem .8rem rgb(182, 182, 182);
            color: hsl(220, 2%, 34%);
            cursor: pointer;

            &:hover,
            &:active{
                background-color: #fff;
                border: .2rem solid rgb(156, 155, 155);
                border-radius: .6rem;
                color: grey;
            }
            
            &chrome{
                color: white;
                background-color: #5267df;

                &:hover,
                &:active{
                background-color: #fff;
                border: .2rem solid #5267df;
                border-radius: .6rem;
                color: #5267df;
            }
            }
        }
    }

    &__navbar{
        &--nav{
            display: flex;
            justify-content: space-between;
            }
    }


    &__mobile{
        background-color: #2b356eda;
        width: 100%;
        height: 0%;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 2000;
        overflow-x: hidden;
        transition: .5s;
        opacity: 0;
        visibility: hidden;

        &.open{
            opacity: 1;
            visibility: visible;
            height: 100%
        }

        &--nav{
            display: flex;
            justify-content: space-between;
            margin: 3rem;
        }
        

        &--logo{
            width: 14.5rem;

            svg path{
                fill: #fff;
            }
        }
        

        &--btn{
            margin: 3rem;
            padding: 1.5rem 10rem;
            border: .3rem solid #fff;
            background-color: transparent;
            border-radius: .6rem;
            color: #fff;
            font-size: 2rem;
        }
        
        &__last{
            align-self: end;
        }
    }

    &__li{
        padding: 3rem;
    }

    &__list{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        list-style: none;
        text-align: center;
        width: 80%;
        
    }

    &__links{
        margin: 1rem;
        border-bottom: 2px solid #8388a8ec;
        padding: 1rem;
    }
    
    &__links a{
        color: #fff;
        font-size: 2.5rem;
        text-decoration: none;
    }

    &__last{
        width: 40%;
        position: absolute;
        top: 90%;
        left: 35%;
        display: grid;
        grid-template-columns: repeat(2, 5%);
        grid-gap: 55%;
    }
}