.signup{
    padding: 3rem;
    background-color: hsl(231, 69%, 60%);
    color: #fff;
    text-align: center;

    h5{
        text-transform: uppercase;
        letter-spacing: .2rem;
        margin-top: 4rem;
        margin-bottom: 2rem;
    }

    h2{
        font-weight: 400;
        font-size: 2.5rem;
        margin-bottom: 4rem;
    }

    &__input{
        width: 100%;
        padding: 1.6rem;
        border-radius: .6rem;
        border: none;

        @media only screen and (min-width: $bp-small) {
            max-width: 35rem;
            margin-left: -1rem;
        }
        
        &--btn{
            padding: 1.6rem 10rem;
            border-radius: .6rem;
            border: none;
            background-color: #ff6161;
            border-radius: .6rem;
            border: .2rem solid #ff6161;

            color: #fff;
            font-size: 1.6rem;
            font-weight: 500;
            margin: 2rem 0 ;
            cursor: pointer;

            &:hover,
            &:active{
                background-color: #fff;
                color: #ff6161;
            }

            @media only screen and (min-width: $bp-small) {
                padding: 1.6rem;
                max-width: 15rem;
            }
        }
    }

    &__form{
        position: relative;

        @media only screen and (min-width: $bp-small) {
            display: flex;
            align-items: center;
            justify-content: center;
            
        }
    }

    &__invalid{
        display: none;
        visibility: hidden;
    }

        &__req{
            width: 100%;
            display: block;
            background-color: red;
            border-bottom-left-radius: .6rem;
            border-bottom-right-radius: .6rem;
            visibility: visible;

            @media only screen and (min-width: $bp-small) {
                margin-left: -.5rem;
            }
        }


    &__email{
        border: 2px solid red;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        background-image: url(/images/icon-error.svg);
        background-position: 95% center;
        background-repeat: no-repeat;
        
    }

    &__input--ph{

        &::placeholder{
            color: grey;
            
        }

        &.signup__email::placeholder{
            color: #ff6161;
        }
    }
}

