*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-weight: 400;
  font-size: 1.8rem;
  font-family: 'Rubik', sans-serif; }

h2 {
  font-size: 2.6rem;
  font-weight: 500; }
  @media only screen and (min-width: 50em) {
    h2 {
      font-size: 4rem; } }

h3 {
  line-height: 0; }

h5 {
  font-weight: 400;
  transition: all .2s ease-in-out;
  cursor: pointer; }

p {
  color: #9194a1;
  font-size: 1.5rem;
  margin-top: 2rem;
  line-height: 1.6;
  transition: all .2s ease-out; }
  @media only screen and (min-width: 50em) {
    p {
      font-size: 1.4rem; } }

button {
  outline: none; }

@media only screen and (min-width: 50em) {
  .container {
    margin: 6rem 10rem; } }

.header {
  margin: 3rem; }
  .header a:hover {
    color: #ff6161; }
  .header__logo {
    width: 14.5rem;
    height: auto; }
  .header__nav {
    display: flex;
    justify-content: space-between; }
    @media only screen and (min-width: 50em) {
      .header__nav {
        display: flex; } }
    .header__nav--content {
      display: none; }
      @media only screen and (min-width: 50em) {
        .header__nav--content {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 5rem; } }
    @media only screen and (min-width: 50em) {
      .header__nav--content a, .header__nav--content a:link, .header__nav--content a:visited {
        text-decoration: none;
        color: black;
        margin-right: 5rem; }
        .header__nav--content a:hover, .header__nav--content a:link:hover, .header__nav--content a:visited:hover {
          color: #ff6161; } }
  .header__btn {
    padding: 1rem 4rem;
    border-radius: .6rem;
    border: none;
    background-color: #ff6161;
    width: 100%;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
    margin: 2rem 0;
    cursor: pointer; }
    .header__btn:hover, .header__btn:active {
      background-color: #fff;
      border: .4rem solid #ff6161;
      border-radius: .6rem;
      color: #ff6161; }
  @media only screen and (min-width: 50em) {
    .header__menu {
      display: none; } }
  .header__menu {
    display: inline-block;
    background-color: #000;
    width: 20px;
    height: 3px;
    position: relative;
    z-index: 200000; }
    @media only screen and (min-width: 50em) {
      .header__menu {
        display: none; } }
    .header__menu:before, .header__menu:after {
      display: block;
      content: '';
      position: absolute;
      background-color: #000;
      width: 20px;
      height: 3px;
      transition: .5s; }
    .header__menu:before {
      top: -5.7px; }
    .header__menu:after {
      top: 5.7px; }
  .header__icon.active .header__menu {
    background: rgba(0, 0, 0, 0); }
  .header__icon.active .header__menu:before {
    top: 0;
    transform: rotate(45deg);
    background-color: #fff; }
  .header__icon.active .header__menu:after {
    top: 0;
    transform: rotate(135deg);
    background-color: #fff; }
  .header__grid {
    margin: 0;
    display: grid;
    grid-template-rows: 38rem max-content; }
    @media only screen and (min-width: 50em) {
      .header__grid {
        grid-template-columns: repeat(2, 1fr);
        text-align: start;
        align-items: center;
        margin: 10rem 0; } }
    .header__grid--1 {
      position: relative; }
    .header__grid--bg {
      display: block;
      background: #5267df;
      height: 18rem;
      width: 30rem;
      border-top-left-radius: 15rem;
      border-bottom-left-radius: 15rem;
      position: absolute;
      top: 14rem;
      right: -3rem;
      z-index: 1; }
      @media only screen and (min-width: 50em) {
        .header__grid--bg {
          top: -10rem;
          right: -13rem;
          width: 50rem;
          height: 35rem; } }
    .header__grid--illustration {
      width: 33rem;
      margin: 0;
      margin-top: 8rem;
      position: absolute;
      right: -1rem;
      z-index: 10; }
      @media only screen and (min-width: 50em) {
        .header__grid--illustration {
          width: 62rem;
          left: 10rem;
          top: -28rem; } }
    .header__grid--2 {
      margin: 1.2rem;
      text-align: center; }
      @media only screen and (min-width: 50em) {
        .header__grid--2 {
          grid-row: 1/2;
          text-align: start; } }
    .header__grid--button {
      border: none;
      margin-top: 3rem;
      padding: 1.4rem;
      border-radius: .5rem;
      background-color: #f0f0f0;
      margin-right: .9rem;
      font-weight: 500;
      font-family: 'Rubik', sans-serif;
      box-shadow: 0 0.3rem 0.8rem #b6b6b6;
      color: #555658;
      cursor: pointer; }
      .header__grid--button:hover, .header__grid--button:active {
        background-color: #fff;
        border: 0.2rem solid #9c9b9b;
        border-radius: .6rem;
        color: grey; }
      .header__grid--buttonchrome {
        color: white;
        background-color: #5267df; }
        .header__grid--buttonchrome:hover, .header__grid--buttonchrome:active {
          background-color: #fff;
          border: .2rem solid #5267df;
          border-radius: .6rem;
          color: #5267df; }
  .header__navbar--nav {
    display: flex;
    justify-content: space-between; }
  .header__mobile {
    background-color: #2b356eda;
    width: 100%;
    height: 0%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2000;
    overflow-x: hidden;
    transition: .5s;
    opacity: 0;
    visibility: hidden; }
    .header__mobile.open {
      opacity: 1;
      visibility: visible;
      height: 100%; }
    .header__mobile--nav {
      display: flex;
      justify-content: space-between;
      margin: 3rem; }
    .header__mobile--logo {
      width: 14.5rem; }
      .header__mobile--logo svg path {
        fill: #fff; }
    .header__mobile--btn {
      margin: 3rem;
      padding: 1.5rem 10rem;
      border: .3rem solid #fff;
      background-color: transparent;
      border-radius: .6rem;
      color: #fff;
      font-size: 2rem; }
    .header__mobile__last {
      align-self: end; }
  .header__li {
    padding: 3rem; }
  .header__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 80%; }
  .header__links {
    margin: 1rem;
    border-bottom: 2px solid #8388a8ec;
    padding: 1rem; }
  .header__links a {
    color: #fff;
    font-size: 2.5rem;
    text-decoration: none; }
  .header__last {
    width: 40%;
    position: absolute;
    top: 90%;
    left: 35%;
    display: grid;
    grid-template-columns: repeat(2, 5%);
    grid-gap: 55%; }

.features {
  margin: 12rem 3rem;
  text-align: center; }
  @media only screen and (min-width: 50em) {
    .features {
      text-align: start; } }
  @media only screen and (min-width: 50em) {
    .features {
      display: flex;
      flex-direction: column;
      justify-content: center; } }
  .features__box {
    margin-bottom: 4rem; }
    @media only screen and (min-width: 50em) {
      .features__box {
        text-align: center; } }
  .features__type {
    list-style: none; }
    @media only screen and (min-width: 50em) {
      .features__type {
        display: flex;
        justify-content: center;
        width: 80%;
        margin-left: 10%;
        text-align: center; } }
  .features__button {
    border: none;
    background-color: transparent;
    width: 100%;
    padding: 1.6rem 5rem;
    border-bottom: 0.1rem solid #c9c9c9;
    font-size: 1.8rem;
    position: relative;
    cursor: pointer;
    outline: none; }
    .features__button:hover {
      color: #ff6161; }
    .features__button:first-of-type {
      border-top: 0.1rem solid #c9c9c9; }
      @media only screen and (min-width: 50em) {
        .features__button:first-of-type {
          border-top: none; } }
  .features__grid {
    display: grid;
    grid-template-rows: 35rem max-content;
    transition: .5s ease; }
    @media only screen and (min-width: 50em) {
      .features__grid {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        margin: 2rem 0;
        grid-gap: 5rem; } }
  .features__illustration {
    position: relative;
    margin-bottom: 10rem; }
    .features__illustration--bg {
      display: block;
      background: #5368df;
      height: 20rem;
      width: 30rem;
      border-top-right-radius: 15rem;
      border-bottom-right-radius: 15rem;
      position: absolute;
      left: -4.4rem;
      top: 10rem;
      z-index: 1; }
      @media only screen and (min-width: 50em) {
        .features__illustration--bg {
          width: 62rem;
          height: 30rem;
          top: 1rem;
          left: -14rem; } }
    .features__illustration--img {
      width: 31rem;
      height: 20rem;
      margin: 0;
      margin-top: 0rem;
      position: absolute;
      top: 6rem;
      left: 1.2rem;
      z-index: 10; }
      @media only screen and (min-width: 50em) {
        .features__illustration--img {
          width: 48rem;
          height: auto;
          top: -8rem;
          left: 4rem; } }
  .features__red {
    display: flex;
    justify-content: center;
    background-color: red;
    height: .4rem;
    width: 40%;
    position: absolute;
    top: 5.1rem;
    left: 30%; }
    @media only screen and (min-width: 50em) {
      .features__red {
        width: 100%;
        left: 0; } }
  @media only screen and (min-width: 50em) {
    .features__center {
      padding: 0 34rem; } }

.download {
  margin: 3rem;
  margin-bottom: 12rem; }
  .download__grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem; }
    @media only screen and (min-width: 50em) {
      .download__grid {
        flex-direction: row;
        margin: 8rem 0; } }
  .download__head {
    text-align: center; }
  .download__card {
    margin-top: 3rem;
    width: 28rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 1.4rem;
    box-shadow: 0 0.5rem 1.4rem #e6e6e6; }
    @media only screen and (min-width: 50em) {
      .download__card {
        margin-right: 4rem; } }
    .download__card--dots {
      margin-top: 4rem; }
    .download__card--img {
      margin-bottom: 4rem;
      margin-top: 4rem; }
    .download__card--btn {
      border: none;
      margin-top: 3rem;
      padding: 1.6rem 3.5rem;
      border-radius: .5rem;
      background-color: #5368df;
      margin-right: .9rem;
      font-weight: 500;
      font-size: 1.4rem;
      font-family: 'Rubik', sans-serif;
      box-shadow: 0 0.3rem 0.8rem #b6b6b6;
      color: #fff;
      cursor: pointer; }
      .download__card--btn:hover, .download__card--btn:active {
        background-color: #fff;
        border: .2rem solid #5267df;
        border-radius: .5rem;
        color: #5267df; }
    @media only screen and (min-width: 50em) {
      .download__card--1 {
        transform: translateY(-5rem); } }
    @media only screen and (min-width: 50em) {
      .download__card--3 {
        transform: translateY(5rem); } }
  .download__p {
    padding: 0 40rem; }

.faq {
  margin: 3rem; }
  .faq__head {
    text-align: center;
    margin-bottom: 6rem; }
  .faq__arrow {
    transform: rotate(180deg); }
    .faq__arrow svg path {
      stroke: #ff6161; }
  .faq__ques {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media only screen and (min-width: 50em) {
      .faq__ques {
        justify-content: center;
        width: 40%;
        margin-left: 30%; } }
    .faq__ques--ans {
      display: flex;
      flex-direction: column; }
    .faq__ques--para {
      display: none;
      visibility: hidden;
      opacity: 0; }
    .faq__ques--open {
      display: inline;
      visibility: visible;
      opacity: 1; }
    .faq__ques--sec {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2rem 0;
      border-bottom: 1px solid #d6d6d6;
      cursor: pointer; }
      .faq__ques--sec:hover {
        color: #ff6161; }
    .faq__ques--btn {
      border: none;
      margin-top: 3rem;
      padding: 1.6rem 3rem;
      border-radius: .5rem;
      background-color: #5368df;
      margin-right: .9rem;
      font-weight: 500;
      font-family: 'Rubik', sans-serif;
      box-shadow: 0 0.3rem 0.8rem #b6b6b6;
      color: #fff;
      align-self: center;
      cursor: pointer; }
      .faq__ques--btn:hover, .faq__ques--btn:active {
        background-color: #fff;
        border: .2rem solid #5267df;
        border-radius: .5rem;
        color: #5267df; }
  @media only screen and (min-width: 50em) {
    .faq__p {
      padding: 0 34rem; } }

.signup {
  padding: 3rem;
  background-color: #5368df;
  color: #fff;
  text-align: center; }
  .signup h5 {
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-top: 4rem;
    margin-bottom: 2rem; }
  .signup h2 {
    font-weight: 400;
    font-size: 2.5rem;
    margin-bottom: 4rem; }
  .signup__input {
    width: 100%;
    padding: 1.6rem;
    border-radius: .6rem;
    border: none; }
    @media only screen and (min-width: 50em) {
      .signup__input {
        max-width: 35rem; } }
    .signup__input--btn {
      padding: 1.6rem 10rem;
      border-radius: .6rem;
      border: none;
      background-color: #ff6161;
      color: #fff;
      font-size: 1.6rem;
      font-weight: 500;
      margin: 2rem 0;
      cursor: pointer; }
      .signup__input--btn:hover, .signup__input--btn:active {
        background-color: #fff;
        border: .2rem solid #ff6161;
        border-radius: .6rem;
        color: #ff6161; }
      @media only screen and (min-width: 50em) {
        .signup__input--btn {
          padding: 1.6rem;
          max-width: 15rem;
          margin-left: 3rem; } }
  .signup__form {
    position: relative; }
    @media only screen and (min-width: 50em) {
      .signup__form {
        display: flex;
        align-items: center;
        justify-content: center; } }
  .signup__req:before {
    content: 'This does not look like an email';
    display: block;
    height: inherit;
    max-width: 35rem;
    background-color: red;
    position: absolute;
    text-align: center;
    padding: .2rem 3.1rem;
    border-bottom-left-radius: .6rem;
    border-bottom-right-radius: .6rem; }
  .signup__email {
    border: 2px solid red;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-image: url(/images/icon-error.svg);
    background-position: 95% center;
    background-repeat: no-repeat; }
  .signup__input--ph::placeholder {
    color: grey; }
  .signup__input--ph.signup__email::placeholder {
    color: #ff6161; }

.footer {
  padding: 1.6rem 3rem;
  background-color: #252b46;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column; }
  .footer__flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 8rem; }
    .footer__flex a {
      margin-bottom: 2.5rem; }
      @media only screen and (min-width: 50em) {
        .footer__flex a {
          margin-right: 5rem; } }
    @media only screen and (min-width: 50em) {
      .footer__flex {
        flex-direction: row;
        justify-content: start; } }
    .footer__flex svg,
    .footer__flex h5,
    .footer__flex div {
      margin: 1.5rem; }
    .footer__flex svg path {
      fill: #fff; }
    .footer__flex--social {
      display: grid;
      grid-template-columns: repeat(2, 6rem);
      align-items: center;
      justify-items: center; }
      .footer__flex--social a:hover svg path {
        fill: #ff8e8e; }
    @media only screen and (min-width: 50em) {
      .footer__flex div {
        align-self: flex-end;
        margin-left: auto; } }
  .footer p {
    color: #fff;
    font-size: 1.2rem; }
  .footer a:link,
  .footer a:visited {
    color: #fff;
    text-decoration: none; }
  .footer a:hover {
    color: #ff8e8e; }
  .footer__credit a, .footer__credit a:link, .footer__credit a:visited {
    color: #ff8e8e; }
